@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem; /*default size is -16px = 1rem in most browsers. root element is html here.*/
}

#logo-with-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 60px;
}

#magnifying-glass {
    width: 20px;
}

#search-input {
    width: 50rem;
}

.section-common {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

#first {
    background-color:rgba(232,217,217,.3);
}

h1, h2 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

h1 {
    margin: 0.67em 0;
    font-size: 5rem;
    box-sizing: border-box;
    line-height: 1.25;
}

#first > div {
    margin: 50px;
}

.link-btn {
    text-decoration: none;
    padding: 10px 30px;
    margin:auto 10px;
}

.plan {
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    background-color: #FB3B49;
}

.join {
    color: black;
    background-color: white;
}

#hexagon {
    box-sizing: border-box;
    width: 250px;
    margin: 3rem auto;
}

#second h2 {
    background-color:  rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 5px 10px 0 2px;
    font-size: 2.25rem;
    line-height: 1.25;
    text-align: center;
}

#second article {
    text-align: center;
    font-family: Poppins, sans-serif;
    margin-bottom: 50px;
    padding-top: 10px;
    
}

#features > div > img {
    width: 3rem;
    height: 2.50rem;
}

#features {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 600px;
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#features > div {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
}

#features > div > h2 {
    color: #ED1C24;
    font-weight: 1000;
    margin-bottom: 1rem;
}


#third > a {
    padding: 20px 100px;
    text-decoration: none;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    position: relative;
    left: 800px;
    bottom: 100px;
    right: 100px;
}

