@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem; /*default size is -16px = 1rem in most browsers. root element is html here.*/
}

#search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width:60px;
    margin-right: 1rem;
}

#magnifying-glass {
    width: 20px;
}

#search-input {
    width: 800px;
    color: rgba(0,0,0,.05);
}

#search-btn {
    background-color: #fb3e44;
    color: white;
}

header > div > form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 500px;
}

header > div > a {
    
   box-sizing: border-box;
}

